* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #131519;
    font-family: 'Overpass', sans-serif;
}

.main-section {
    margin: 9rem auto;
    padding: 2rem;
    width: 25.7rem;
    height: 26rem;
    background-color: #181E27;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

.star-img {
    border: 1px solid #262E38;
    border-radius: 2rem;
    background-color: #262E38;
    width: 2.8rem;
    height: 2.8rem;
    padding: 0.6rem;
    margin-bottom: 1.8rem;
}

.main-section h1 {
    color: #FFFFFF;
    size: 28px;
    line-height: 35.45px;
    margin-bottom: 7px;
    font-weight: 700;
}

.main-section p {
    color: #969FAD;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 24px;
    font-weight: 400;
}

.rating-nmb {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.rating-nmb div {
    padding: 1rem;
    border: 1px solid #262E38;
    background-color: #262E38;
    border-radius: 5rem;
    width: 51px;
    height: 51px;
    text-align: center;
    color: #969FAD;
}

.rating-nmb div:hover {
    background-color: #FC7614;
    cursor: pointer;
}

button {
    width: 341px;
    height: 45px;
    font-size: 15px;
    font-weight: 700;
    line-height: 18.99px;
    letter-spacing: 2px;
    color: #FC7614;
    border-radius: 3rem;
    border: none;
}

button:hover {
    cursor: pointer;
}